

.container {
    display: flex;
    height: 800px;
    width: 800px;

    justify-content: center;
    align-items: center;


    .subContainer1 {
        flex: 1;
    }

    .subContainer2 {
        flex: 1;

    }



}