@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
  background: linear-gradient(90deg, #efd5ff 0%, #757cde 100%);
  overflow: hidden;

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: flex;
    background-color: white;
    height: 698px;
    width: 1400px;
    border-radius: 10px;
    
    
    .subContainer1 {
      display: flex;
      flex: 1;

      img {
        border-radius: 10px 0px 0px 10px;
      }
    }

    .subContainer2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sino {
        height: 50px;
        width: 50px;
      }

      /* Estilo do título e das frases */
      h1 {
        font-family: roboto;
        font-weight: 400;
        font-size: 45px;
        margin-bottom: -10px;
      }

      h2 {
        font-family: roboto;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 90px;
      }

      p {
        display: flex;
        align-self: flex-start;
        margin-left: 50px;
        font-family: roboto;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 5px;
        color: rgb(74, 74, 74);
      }

      /* Estilo do input de email */
      .email {
        width: 600px;
        height: 30px;
        border-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 5px rgb(199, 199, 199);
        border-width: 1px;
        border-radius: 5px;
      }

      /* Estilo do botão */
      a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }

      button {
        background-color: #aa9fff;
        margin-top: 20px;
        width: 600px;
        border-radius: 25px;
        padding: 12px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
